.nav {
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.nav-menu {
    display: flex;
    gap: 3rem;
    color: gray;
    list-style-type: none;
    cursor: pointer;
}

.margin-top-4rem {
    margin-top: 4rem;
}
.margin-4rem {
    margin: 4rem;
}
.margin-bottom-2rem {
    margin-bottom: 2rem;
}
.nav-mypage {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    color: white;
    list-style-type: none;
    padding-right: 1rem;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-container img {
    display: block;
    width: 8em;
    padding: 1rem;
    cursor: pointer;
}

.container-horizontal {
    display: flex;
    flex-direction: row;
}
.container-horizontal input {
    width: 95%;
    margin: 1rem;
    padding: 0.5rem;
}
.magnifying-glass-logo {
    color: white;
    margin-top: 1rem;
    padding: 0.5rem;
}

.product-img {
    width: 95%;
    gap: 100rem;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.product-img:hover {
    transform: scale(1.02);
}
